/*body*/

body {
	border:1px solid rgb(163, 163, 163);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

a {
	font-family: '3';
	padding: 0 10px 0 10px;
	font-size: 18px;
	color:#000000;
	text-decoration: none;
	font-weight: 900;
}

a:hover {
	transition: 0.5s;
	font-size:16px;
}

img {
max-width:100%;
}

/*header*/

.conteiner{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color:rgb(230, 230, 230);
	margin: 30px auto 0 auto;	
	padding: 20px;
}

.batton-home {
	width:25px;
	height:auto;
}

.sss {
	width:25px;
	height:auto;
}

/*То самое слайд-шоу*/

.main {
	margin: 1% auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

@media screen and (max-width:350px) {
	.slogan {
		display: none;
	}
}

.slogan {
font-size: 1.5vw;
font-family: "3";
}

.slogan1 {
	text-decoration: underline;
}


/* Slideshow container */
.slideshow-container {
  max-width: 400px;
 
  height: auto;
  position: relative;
  margin-top: 5%; 
  flex-wrap: 1;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: linear;
 
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Works */

.works {
	margin: auto;
	max-height: 800px;
	margin-top: 350px;
	margin-bottom: 350px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align:center;
}

.works1 {
	border:1px solid rgb(163, 163, 163);
	border-radius: 1%;	
	width: 200px;
	height:300px;
	background-color: rgb(251, 251, 251);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 50px 10px 50px 0;
	margin: 10px 40px 0 40px;	
}

.works img {
	padding: 30px;
	border-bottom: 1px solid black;

}

.pd {
	width:64px;
	height: 64px;
}

li {
	padding-top: 40px;
}

.works li {
	font-family: '3';
	font-size: 18px;
	font-weight: 600;
	line-height: 0.2;
}

@media screen and (max-width:1000px) {
	.works li {
	font-size: 12px;
	}
}


/* Contacts*/


.contacts {
	margin-top:0 auto 0 auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: auto;
	font-family: '1';
	font-size: 14px;
	font-weight: 600;
	}

.cont{
	display: inline;
	width:500px;
	height: 800px;
	margin-left:50px;	
}

.map {
	position: relative;
	top:120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width:500px;
	height:400px;
	padding-right: 30px;
}


.cont img {
	position: relative;
	left:0px;
	top:5px;
	width:20px;
	height: 20px;
	padding-right: 20px;
} 

.cont div:nth-of-type(5),.cont div:nth-of-type(8), .cont div:nth-of-type(11)  {
	margin-top: 30px;
	border-top: 1px solid rgb(167, 166, 166);
}

.cont div:nth-of-type(1n) {
	padding-top:10px;
	padding-bottom: 10px;
}
 

/* Footer */

.foot {
	margin-top: 300px;
	font-size: 12px;
	width:auto;
	height: auto;
	background-color: rgb(230, 230, 230);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px 10px 30px;
}


footer img {
	
	Width:10px;
	height: 10px;
	top:25px;
	left:15px;
} 

.design:hover::after {
	content: attr(data-title); 
	padding-left: 10px;
	font-size: 14px;
	
}


@media screen and (max-width:450px) {
	.design:hover::after {
		content: attr(data-title); 
		padding-left: 10px;
		font-size: 10px;	
	}
}




/*Fonts*/
@font-face {
	font-family: "1"; 
	src: url(fonts/1.ttf); 
}

@font-face {
	font-family: "2"; 
	src: url(fonts/2.ttf); 
}

@font-face {
	font-family: "3"; 
	src: url(fonts/3.ttf); 
}

