.wrapper {
	min-height: 100%;
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template:
		minmax(60px, auto) minmax(650px, auto) minmax(670px, auto) minmax(1400px, auto) minmax(1140px, auto) minmax(
			1140px,
			auto
		)
		minmax(1100px, auto) minmax(1250px, auto) minmax(80px, auto) / 1fr;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #212121;
	grid-template-areas:
		"header"
		"container1"
		"container2"
		"container3"
		"container4"
		"container5"
		"container6"
		"container7"
		"footer";
}
body h2 {
	font-size: 30px;
	line-height: 22px;
	letter-spacing: 1.5px;
	font-weight: bold;
}
body h3 {
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
	font-weight: 600;
}
body .subtitle {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
	max-width: 350px;
	display: inline-block;
	margin: 0 auto;
	padding: 30px 0 100px 0;
}
@media (min-width: 975px) {
	body .subtitle {
		font-size: 15px;
		line-height: 22px;
		letter-spacing: 0.75px;
		max-width: 630px;
		display: inline-block;
		margin: 0 auto;
		padding: 30px 0 100px 0;
	}
}

/*--------------------*/
/*------header---------*/
/*--------------------*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 40;
	grid-area: header;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 250px) minmax(auto, 920px) 1fr;
	padding: 20px 20px;
}
@media (min-width: 975px) {
	body .subtitle {
		font-size: 15px;
		line-height: 22px;
		letter-spacing: 0.75px;
		max-width: 630px;
		display: inline-block;
		margin: 0 auto;
		padding: 30px 0 100px 0;
	}
	.wrapper {
		min-height: 100%;
		max-width: 1400px;
		margin: 0 auto;
		display: grid;
		grid-template:
			minmax(120px, auto) minmax(650px, auto) minmax(670px, auto) minmax(1400px, auto) minmax(1140px, auto)
			minmax(1140px, auto) minmax(1100px, auto) minmax(1250px, auto) minmax(80px, auto) / 1fr;
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		line-height: 22px;
		color: #212121;
		grid-template-areas:
			"header"
			"container1"
			"container2"
			"container3"
			"container4"
			"container5"
			"container6"
			"container7"
			"footer";
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 40;
		grid-area: header;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 250px) minmax(auto, 920px) 1fr;
		padding: 50px 20px;
	}
}

.header a {
	color: #212121;
}
.header__logo {
	grid-column: 2;
	font-size: 25px;
	line-height: 22px;
	font-weight: bold;
	display: inline-block;
	justify-content: start;
}
.header__menu {
	text-align: end;
}
@media (max-width: 1020px) {
	.header__list .invisible {
		display: none;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
	}
}
@media (min-width: 1020px) {
	.header__list .visible {
		display: none;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
	}
}
.header__list li {
	display: inline-block;
	margin-left: 30px;
}
.header__list-item,
.header__submenu-list-item {
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 1px;
	font-weight: 600;
}
.header__list .parent {
	position: relative;
}
.header__submenu {
	position: absolute;
	display: block;
	background-color: #fff;
	top: 20px;
	left: -120px;
	border: 1px solid rgb(231, 231, 231);
	max-width: 150px;
	text-align: left;
	padding: 0;
	margin: 0;
}
.header__submenu .hidden {
	display: inline-block;
	margin: 5px 10px 5px 10px;
	display: none;
	visibility: hidden;
	pointer-events: none;
}
.parent:hover .hidden {
	display: block;
	visibility: visible;
	pointer-events: all;
}
.header__list-item:hover,
.header__submenu-item:hover {
	color: #005a51;
	text-decoration: underline;
	visibility: visible;
	pointer-events: all;
}

/*--------------------*/
/*-----container1-----*/
/*--------------------*/

.container1 {
	grid-area: container1;
	background-color: #000;
	color: #fff;
	text-align: center;
	background: url(../img/fisrt-section-bg.jpg) no-repeat bottom;
	padding: 180px 0 70px 0;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1170px) 1fr;
}
.container1__top,
.container1__bottom {
	grid-column: 2;
}
.container1__title {
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 3px;
	font-weight: 600;
}
.container1__subtitle {
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 1.1px;
	padding-top: 15px;
}

@media (max-width: 675px) {
	.container1 {
		grid-area: container1;
		background-color: #000;
		color: #fff;
		text-align: center;
		background: url(../img/fisrt-section-bg.jpg) no-repeat bottom;
		padding: 80px 0 70px 0;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 1170px) 1fr;
	}
	.container1__top {
		max-width: 360px;
		display: block;
		margin: 0 auto;
	}
	.container1__title {
		font-size: 35px;
		line-height: 40px;
		letter-spacing: 3px;
		font-weight: 600;
		margin-bottom: 30px;
		max-width: 360px;
	}
	.container1__subtitle {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 3px;
		font-weight: 600;
		margin-bottom: 30px;
		max-width: 360px;
	}
}
@media (max-width: 500px) {
	.container1__buttons {
		padding: 100px 0 100px;
		display: inline-block;
	}
	.container1__buttons-item {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 1px;
		display: inline-block;
		padding: 22px 30px;
		border: 3px solid #fff;
		color: #fff;
		width: 250px;
	}
	.container1__buttons-item {
		margin: 20px 10px;
	}
}
.container1__buttons {
	padding: 100px 0 100px;
	display: inline-block;
}
.container1__buttons-item {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
	padding: 22px 30px;
	border: 3px solid #fff;
	color: #fff;
	width: 250px;
	margin: 20px 10px;
}
.container1__buttons-item:hover {
	background-color: #00897b;
	border: 3px solid #00897b;
}
.container1__buttons-item:active {
	background-color: #005a51;
	border: 3px solid #fff;
}
.bottom-arrow:hover {
	filter: sepia(1) hue-rotate(70deg) saturate(10);
}

/*--------------------*/
/*-----container2-----*/
/*--------------------*/

.container2 {
	grid-area: container2;
	text-align: center;
	display: grid;
	grid-template: 1fr /1fr minmax(auto, 1170px) 1fr;
	padding: 150px 0 125px 0;
}
.container2__block1,
.container2__block2 {
	grid-column: 2;
}
.prepositions__list-item {
	display: inline-block;
	max-width: 260px;
	margin: 30px 60px;
}
.prepositions__list-item h3 {
	margin: 35px 0 15px 0;
}

/*--------------------*/
/*-----container3-----*/
/*--------------------*/

.container3 {
	grid-area: container3;
	background-color: #e4fdf9;
	text-align: center;
	padding: 150px 30px 100px 30px;
}
.services__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 370px));
	gap: 30px;
	justify-content: center;
}
.services__list-item {
	background-color: #fff;
	padding: 50px 55px;
}
.services__list-item a {
	color: #212121;
}
.services__list-item h3 {
	padding: 40px 0 20px 0;
}
.button {
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	border: 3px solid #000;
	display: inline-block;
	padding: 18px 10px;
	margin-top: 45px;
}
.button:hover {
	background-color: #00897b;
	border: 3px solid #00897b;
}
.button:active {
	background-color: #005a51;
	border: 2px solid #fff;
	color: #fff;
}

/*--------------------*/
/*-----container4-----*/
/*--------------------*/

.container4 {
	grid-area: container4;
	text-align: center;
	padding: 150px 0 120px 0;
}
body .container4__block1-subtitle {
	padding-bottom: 70px;
}
.container4__block1-buttons {
	margin: 0 0 120px 0;
	padding: 0 20px;
}
.container4__block1-button {
	border: 3px solid #00897b;
	width: 180px;
	margin-right: 20px;
	color: #212121;
}
.container4__block1-button:first-child {
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
}
.container4__block1-button:last-child {
	margin-right: 0;
}
.container4__block2 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 370px));
	gap: 30px;
	justify-content: center;
}
.container4__block2-item {
	position: relative;
	padding: 0 0 85% 0;
}
.container4__block2-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container4__footer {
	color: #fff;
	padding: 25px 65px;
	background-color: #00897b;
	border-color: #00897b;
	margin-top: 125px;
}
.container4__footer:hover {
	background-color: #e4fdf9;
	border: 3px solid #005a51;
	color: black;
}
.container4__footer:active {
	background-color: #005a51;
	border: 3px solid #fff;
	color: #fff;
}

/*--------------------*/
/*-----container5-----*/
/*--------------------*/

.container5 {
	grid-area: container5;
	background-color: #f0f1f1;
	text-align: center;
	padding: 150px 125px 50px;
}
@media (min-width: 975px) {
	.container5 {
		grid-area: container5;
		background-color: #f0f1f1;
		text-align: center;
		padding: 150px 115px;
	}
}
.container5__price-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	margin: 0 auto;
}
.container5__price-item {
	padding: 50px 0 60px 0;
	margin: 15px;
}
.container5__price-item:nth-child(2) {
	box-shadow: 0 0 20px 3px #a5a5a5;
}
.price-item {
	background: linear-gradient(174.7deg, #3949ab 30%, #ffffff 30%, #ffffff);
}
sup {
	line-height: 6px;
	vertical-align: top;
	font-size: 25px;
	padding-right: 5px;
}
.price-item__title {
	font-size: 25px;
	line-height: 22px;
	letter-spacing: 1.25px;
	color: #fff;
}
.price-item__price {
	padding: 40px 0 115px 0;
}
.price-item__price span {
	font-size: 50px;
	letter-spacing: 2.5px;
	color: #fff;
	padding-right: 5px;
}
.price-item__price p {
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.85px;
	color: #fff;
}
.price-item__options {
	max-width: 175px;
	margin: 0 auto;
}
.options__item {
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 0.85px;
	padding-bottom: 10px;
	border-bottom: 2px solid #bfbfbf;
	margin-bottom: 30px;
}
.price__item-button {
	display: inline-block;
	margin-top: 60px;
	border: 2px solid black;
	padding: 15px 27px;
	text-transform: none;
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 1px;
}
.price__item-button:hover {
	background-color: #00897b;
	border: 2px solid #00897b;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 19px;
}
.price__item-button:active {
	background-color: #3949ab;
	border: 1px solid #3949ab;
}

/*--------------------*/
/*-----container6-----*/
/*--------------------*/

.container6 {
	grid-area: container6;
	text-align: center;
	padding: 125px 115px 50px 115px;
}
.container6__members-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	margin: 0 auto;
}
.members-list__item {
	padding: 0 0 60px 0;
	margin: 15px;
}
.members-list__img {
	position: relative;
	padding: 0 0 85% 0;
}
.members-list__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.members-list__item p:nth-child(2) {
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
	font-weight: 600;
	padding: 35px 0 10px 0;
}
.members-list__item p:nth-child(3) {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1px;
	font-weight: 400;
	padding: 0 0 30px 0;
}
.members-list__item-icons {
	display: grid;
	grid-template: auto / 1fr 1fr 1fr 1fr;
	padding: 0 40px;
}
.members-list__item-icons li {
	padding: 10px;
	background-color: #f0f1f1;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	justify-self: center;
}
.members-list__item-icons li:hover {
	background-color: #3949ab;
}
.members-list__item-icons img:hover {
	filter: brightness(0) invert(1);
}
.dot__item {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #00897b;
	margin: 0 5px;
}
.container6__footer-dots {
	padding: 50px 0 0 0;
}
.dot__item:hover {
	background-color: #3949ab;
}

/*--------------------*/
/*-----container7-----*/
/*--------------------*/

.container7 {
	grid-area: container7;
	text-align: center;
	background-color: #212120;
	color: #fff;
	padding: 150px 0 100px 0;
	display: grid;
	grid-template: 1fr /1fr minmax(auto, 1170px) 1fr;
	justify-items: center;
}
.container7__content {
	grid-column: 2;
}
.container7__block1 {
	margin-bottom: 70px;
}
.contacts__list-item {
	display: inline-block;
	max-width: 270px;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: 40px;
}
@media (min-width: 830px) {
	.contacts__list-item {
		display: inline-block;
		max-width: 270px;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 1px;
		font-weight: 600;
	}
}
.img__wrapper {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	background-color: #3949ab;
	padding-bottom: 25px;
	display: inline-block;
	margin: 0 auto 25px auto;
}
.img__wrapper img {
	margin: 20% auto;
	align-self: center;
}
.feedback__form {
	grid-column: 2;
	display: grid;
}
.feedback__form-top {
	margin-bottom: 30px;
}
.feedback__form-top input {
	display: inline-block;
	width: 500px;
	height: 80px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	padding-left: 20px;
	margin: 0 7.5px;
	margin-top: 20px;
}
body .feedback__form textarea {
	margin: 0 auto;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	padding: 20px 20px;
	max-width: 500px;
	max-height: 200px;
	display: block;
	margin-top: 40px;
}
input[type="submit"] {
	display: inline-block;
	max-width: 230px;
	border-radius: 10px;
	font-size: 20px;
	letter-spacing: 10px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 25px 80px;
	margin: 40px 10px 40px 0;
	justify-self: center;
	align-self: center;
}
input[type="submit"]:hover {
	background-color: #3949ab;
	color: #fff;
}
input[type="submit"]:active {
	background-color: #3949ab;
	color: #fff;
	border: 2px solid #fff;
	padding: 23px 80px 23px 75px;
}
@media (min-width: 1034px) {
	body .feedback__form textarea {
		margin: 0 auto;
		border-radius: 10px;
		font-size: 20px;
		font-weight: 600;
		padding: 20px 20px;
		max-width: 1020px;
		max-height: 320px;
		justify-self: center;
	}
	input[type="submit"] {
		display: inline-block;
		max-width: 230px;
		border-radius: 10px;
		font-size: 20px;
		letter-spacing: 10px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 25px 80px 25px 75px;
		margin: 40px 10px 40px 0;
		align-self: center;
		justify-self: end;
	}
	input[type="submit"]:hover {
		background-color: #3949ab;
		color: #fff;
	}
	input[type="submit"]:active {
		background-color: #3949ab;
		color: #fff;
		border: 2px solid #fff;
		padding: 23px 80px 23px 75px;
	}
}

/*--------------------*/
/*-------footer-------*/

footer {
	grid-area: footer;
}
.footer p {
	font-size: 16px;
	line-height: 70px;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
